/Harjoitustyo/nbproject/private/
/TetrisMoninpeli/nbproject/private/
/TetrisMoninpeli/build/
/TetrisMoninpeli/dist/
/TetrisWars/dist/
/Testailuu/nbproject/private/
/Testailuu/build/
/Tiraaaa/nbproject/private/
/Lisaa/nbproject/private/
/Tiraaaa/build/
/Lisaa/build/